<div class="container mx-auto px-4 my-5">
    <div class="flex gap-4 justify-between w-full mb-5">
        {{#if (compare this.router.currentURL 'include' '/article/')}}
        <LinkTo id={{@id}} @route="articles"
            class="button {{@class}} {{if @isPrimary 'primary'}} {{if @isSecondary 'secondary'}}"
            data-variant="default">
            Back
        </LinkTo>
        {{/if}}
        <ThemeToggle />
    </div>
    {{outlet}}
</div>